header.main {
    padding: 7px 0px 0;
}

.clearfix {
    display: block;
}
header {
    margin: 0 auto;
    padding: 40px 15px 20px;
    max-width: 100%;
    max-width: 1089px;
}
.logo-container{
    float: left;
    margin-top: 39px;
    display: block;
    width: 50%;
}
.logo img{
    width: 474px;
}
.account-links {
    float: right;
    margin-top: 30px;
}
ul.inline-list, ul.link-list {
    margin: 0 0 17px -22px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    font-size: 12px;
}
.account-links .inline-list > li {
    display: inline-block;
    float: none;
}
.account-links a {
    color: #ff7713 !important;
    opacity: 0.7;
}
.account-links  a:hover {
    color: #fff;
    text-decoration: none;
    opacity: 1;
}
ul.inline-list > li, ul.link-list > li {
    list-style: none;
    float: left;
    margin-left: 15px;
    display: block;
}
.info-col {
    float: right;
    margin-top: 15px;
}
ul.social-links {
    float: left;
    padding-right: 10px;
}
header .social-links li {
    margin-left: 8px;
}
ul.social-links a:active, ul.social-links a:hover {
    color: #ff7713;
    opacity: 1;
}
ul.social-links a {
    color: #ff7713;
    font-size: 27px;
    opacity: 0.7;
}


ul.social-links span {
    display: none;
}
.search{
    float: left;
}
.srch button{
    background: #2b2726;
    padding: 0px 7px 0 7px;
    line-height: 32px;
    color: #fff;
    border: 3px solid #2b2726;
    
}
.srch input{
    border: 3px solid #2b2726;
    padding-right: 21px;
    height: 38px;
    width: 158px;
    padding-left:2px;
}
.rec {
    background: #2b2726;
    height: 45px;
}

.top{
    background-color: #2b2726;
}
.dima {
    padding-top: 20px !important;
}
input[type=checkbox] {
display: none;
}



/*navigation*/
#nav{
	width: 100%;
	z-index: 10;
	position:relative;
	background: #2b2726;
}
#nav:after {
	content:"";
	display:block;
	clear:both;
}
.open-check {display:none;}
#topnav {
	list-style:none;
	margin:0;
	padding:0;
	font-size:0px;
	line-height:0px;
    position:relative;
    margin-top: 15px;
}
#topnav:after {
	content:"";
	display:block;
	clear:both;
}
#topnav > li {
	display:inline-block;
	vertical-align:top;
	font-size:13px;
	line-height:35px;
	text-transform:uppercase;
	position: relative;
}
#topnav > li:last-child {border: none;}
#topnav > li >  a {
	padding: 10px 10px;
	font-weight: 700;
	display:block;
	color: #fff !important;
	text-decoration: none;
	position:relative;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	-ms-transition: background .2s ease-in-out;
	-o-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
}
#topnav > li:hover > a {/*background: rgba(255,255,255,0.3);*/}
.children-holder {
	position:absolute;
	top: 100%;
	left:0;
	z-index: 100;
	overflow:hidden;
	width: 300px;
	-webkit-box-shadow: rgba( 0, 0, 0, 0.3) 0 0 10px;
	-moz-box-shadow: rgba( 0, 0, 0, 0.3) 0 0 10px;
	box-shadow: rgba( 0, 0, 0, 0.3) 0 0 10px;
}
.children {
	text-align:left;
	background: #fff;
	width:100%;
	list-style: none;
	display:block;
	padding: 10px 20px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	z-index: 5;
	margin: -845px 0 0;
	-webkit-transition: margin .5s ease-in-out;
	-moz-transition: margin .5s ease-in-out;
	-ms-transition: margin .5s ease-in-out;
	-o-transition: margin .5s ease-in-out;
	transition: margin .5s ease-in-out;
}
.children:before {
	content:'';
	position:absolute;
	top:0;
	left:20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 10px 0 10px;
	border-color: #4b4b4b transparent transparent transparent;
}
#topnav > li:hover .children {margin:0;}
.children > li {
	margin: 0 0 5px;
	position:relative;
}
.children2 {
	list-style: none;
	padding: 5px 0 0;
	margin:0;
}
.children2 li {
	position:relative;
	margin: 0 0 10px;
	padding: 0 0 0 15px;
	text-transform:none;
}
.children2 > li:before {
	content: '';
	position:absolute;
	top: 50%;
	left:0;
	margin: -2px 0 0;
	height: 4px;
	width: 4px;
	background: #fff;
}
.children > li > a,
.children2 > li > a {
	text-decoration:none;
	position:relative;
	font-size:12px;
	line-height:18px;
	color: #000 !important;
}
.children2 > li > a {
	font-size:13px;
	line-height:15px;
}
.children > li > a:before,
.children2 > li > a:before {
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height: 1px;
	background: #000;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: transform .2s ease-in-out;
	-moz-transition: transform .2s ease-in-out;
	-ms-transition: transform .2s ease-in-out;
	-o-transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
}
.children > li > a:hover:before,
.children2 > li > a:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

#topnav > li > label,
.children > li > label{display:none;}

.hold-toogle {
	float: right;
	display:none;
}
.toogle-menu {
	z-index:61;
	height:17px;
	position:relative;
	cursor: pointer;
	display:none;
	padding: 0 35px 0 0;
	color: #fff;
	line-height: 17px;
}
.toogle-menu > .t,
.toogle-menu > .c,
.toogle-menu > .b {
	position:absolute;
	right:0;
	height:3px;
	width:30px;
	background: #fff;
}
.toogle-menu .t {
	top: 0;
}
.toogle-menu .c {
	top: 7px;
}
.toogle-menu .b {
	top: 14px;
}
.navigation-main {
	display:block;
	padding-top: 4px;
}
.close-menu {display:none;}
#topnav > li > .open-check ~ .children-holder .children > li:nth-child(1),
#topnav > li > .open-check ~ .children-holder .children > li:nth-child(2),
.children > li > .open-check ~ .children2 > li:nth-child(1),
.children > li > .open-check ~ .children2 > li:nth-child(2) {
	display:none;
}
.overlay {display:none;}
/*end navigation*/


.pst-header-search .searchbox {
    float: right;
    height: 50px;
    width: 60%;
    font-size: 12px;
    color: #1d1d1d;
    font-weight: normal;
    border: 1px solid #ccc;
    border-radius: 22px;
    margin-right: 90px;
    background: #fff;
  }
  .pst-header-search .searchbox .v4sbox {
    background-color: transparent;
    line-height: 50px;
    height: 50px;
    float: left;
    width: 85%;
    border: none;
    text-align: left;
    text-indent: 17px;
    outline: none !important;
  }
  .rectangle-2 {
    min-height: 45px;
    max-width: 1373px;
    background-color: #fff0;
    margin: auto;
    text-align: center;
  }
  @media screen and (max-width: 768px){
.rectangle-2 {
    /* margin-top: 10px; */
    min-height: 0px;
}

}
@media(max-width: 768px) {

    table.tb_v4bc {
  display: none;
}
    }
  @media(max-width: 769px) {

    .pst-header-search .searchbox {
      width: 100%;
      margin-top: 10px;
      float: none;
      margin-right: 0px;
    }
    .head-new img {
      display: block;
      margin: auto;
      padding-bottom: 21px;
    }
    .head-new {
      height: auto;
    }
  }
  /*Strip the ul of padding and list styling*/
  #menu {
    list-style-type: none;
text-align:center;
  
  }
  /*Create a horizontal list with spacing*/
  .dima {
  display: inline-block;
  margin-right: 1px;
  padding-right: 64px;
  }
  /*Style for menu links*/
  .dima a {
display: block;
  color: #FFFFFF!important;
  font-family: "Playfair Display";
  background: #000;
  text-decoration: none;
  }
  /*Hover state for top level links*/
  .dima a:hover {
    color: #fff;
    text-decoration: none;
  }
  /*Style 'show menu' label button and hide it by default*/
  .show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
  }
  input[type=checkbox]:before {
    content: "\f039";
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 21px;
    position: absolute;
    left: 12px;
    float: left;
line-height:54px;
  }
  input[type=checkbox]:checked:before {
    font-family: FontAwesome;
    content: url("https://raw.githubusercontent.com/danish1u/rick/master/cx.png");
    /* content: "\f00d"; */
    padding-right: 0.5em;
    position: absolute;
    left: 12px;
    float: left;
  margin-top: 15px;
  }
  /*Hide checkbox*/
  /*Show menu when invisible checkbox is checked*/
  input[type=checkbox]:checked~#menu {
    display: block;
  }
  input[type=checkbox] {
    line-height: normal;
    width: 0;
    height: 0;
    margin: 0;
    border: 0 none;
    padding: 0;
  }
  /*Responsive Styles*/
  @media screen and (max-width: 768px) {
    /*Make dropdown links appear inline*/
    .rectangle-2 {
      margin-top: 10px;
    }
    #menu {
      
      display: none;
     
      background: #000;
      text-align: left;
      margin-top: 44px;
    }
    /*Create vertical spacing*/
    .dima {
      margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    #menu .dima,.dima a {
      width: 100%;
    }
    .dima a {
      padding-left: 0px;
    }
    /*Display 'show menu' link*/
    .show-menu {
      display: block;
    }
    .pink-text {
  padding: 42px;
  background: #f8f7f3;
  position: relative !important;
margin: 0px !important;
  z-index: -9;
}
.yellow-text {
  margin-top: 67px;
  width: 228px;
    position: relative !important;
    margin: 0px auto 0px !important;
    padding-top: 93px;
    padding-bottom: 35px;
}

.rectangle-5 {

   margin-top: 0px !important;
  padding: 10px !important;
  margin-bottom: 0px !important;
}
.browse-color ul li {
  padding: 17px !important;
}
  }
  .pink-banner {
  max-width: 1372px;
margin: auto;
margin-top:-24px;

}
.pink-text {
position: absolute;
margin-top: 70px;
margin-left: 139px;
}
.yellow-banner {
/*height: 632px;*/
max-width: 1296px;
margin: auto;
  margin-top: -78px;
}
.yellow-text {
position: absolute;
margin-left: 711px;
margin-top: 119px;
}
.browse-catagories ul{
text-align: center;
padding-left: 0;
}
.browse-catagories ul li{
list-style: none;
display: inline-block;
padding: 23px;

}
.browse-color ul{
text-align: center;
padding-left: 0;
}
.browse-color ul li{
list-style: none;
display: inline-block;
padding: 30px;
vertical-align: -webkit-baseline-middle;

}
.browse-logos ul{
text-align: center;
padding-left: 0;
}
.browse-logos ul li{
list-style: none;
display: inline-block;

}
.browse-colored-diamo {
   color: #000000;
       font-family: "Playfair Display";
  font-size: 17px;
  letter-spacing: 3px;
  line-height: 20px;
  text-align: center;
}
.wholesale-banner {
background: url('http://asteriadiamonds.com/ebay-template/store/WholesaleBanner.jpg');
  max-width: 1372px;
  padding: 40px;
  background-position: center;
}

.rectangle-5 {
max-width: 803px;
background-color: rgba(255,255,255,0.57);
display: block;
margin: auto;
    margin-top: 71px;
        padding: 68px;
            margin-bottom: 21px;
}
.why-asteria-diamonds {
color: #000000;
font-family: "Playfair Display";
font-size: 15px;
letter-spacing: 3px;
line-height: 20px;
text-align: center;

}

.at-asteria-diamonds {

    color: #000000;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
  letter-spacing: 1px;
}
.line {
  box-sizing:
  border-box;
  height: 2px;
  max-width: 165px;
  border: 1px solid #979797;
  margin: 0 auto 22px;
}
.free-world-shipping {
  height: 38px;
  width: 182px;
  color: #3E3142;
  font-family: Times;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 19px;
  text-align: center;
    text-transform: uppercase;
}
.present-yourself-wit {
  height: 38px;
  width: 182px;
  color: #757575;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  text-align: center;
}
.all-rights-reserve {
  height: 70px;

  color: #000000;
  font-family: "Playfair Display";
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 20px;
  text-align: center;
}
.mgq1 img {
    display: none;
  }


                    img {
                        max-width: 100%
                    }
               
        header {
            margin: 0 auto;
            padding: 40px 15px 20px;
            max-width: 100%;
            max-width: 1000px !important;
        }

        .drop2 {}

        .drop {
            max-width: 983px;
            margin: auto;
            height: 52px;
        }

        .drop ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: absolute;
        }

        /*Create a horizontal list with spacing*/

        .drop li {
            display: inline-block;
            float: left;
             /*margin-right: 1px;*/
        }

        /*Style for menu links*/

        .drop li a {
            display: block;
            /* min-width:140px;*/
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #fff;
            background: #2b2726;
            text-decoration: none;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 15px;
        }

        /*Hover state for top level links*/

        .drop li:hover a {
            background: #ef7520;
            ;
        }

        /*Style for dropdown links*/

        .drop li:hover ul a {
            background: #f3f3f3;
            color: #2b2726;
            height: 40px;
            line-height: 40px;
        }

        /*Hover state for dropdown links*/

        .drop li:hover ul a:hover {
            background: #19c589;
            color: #fff;
        }

        /*Hide dropdown links until they are needed*/

        .drop li ul {
            display: none;
        }

        /*Make dropdown links vertical*/

        .drop li ul li {
            display: block;
            float: none;
        }

        /*Prevent text wrapping*/

        .drop li ul li a {
            width: auto;
            min-width: 100px;
            padding: 0 20px;
        }

        /*Display the dropdown on hover*/

        .drop ul li a:hover+.hidden,
        .hidden:hover {
            display: block;
        }



      img:nth-child(2) {
        display:none;
}
            img:nth-child(2) {
        display:none;
}
            img:nth-child(3) {
        display:none;
}
            img:nth-child(4) {
        display:none;
}
            img:nth-child(5) {
        display:none;
}
            img:nth-child(6) {
        display:none;
}
            img:nth-child(7) {
        display:none;
}
            img:nth-child(8) {
        display:none;
}
            img:nth-child(9) {
        display:none;
}
            img:nth-child(10) {
        display:none;
}
                  img:nth-child(11) {
        display:none;
}
                  img:nth-child(12) {
        display:none;
}
                  img:nth-child(13) {
        display:none;
}
                  img:nth-child(14) {
        display:none;
}
        /*Style 'show menu' label button and hide it by default*/

        .drop .show-menu {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-decoration: none;
            color: #fff;
            background: #ef7520;
            ;
            text-align: center;
            padding: 10px 0;
            display: none;
            font-size: 15px;
        }

        /*Hide checkbox*/

        .drop input[type=checkbox] {
            display: none;
        }

        /*Show menu when invisible checkbox is checked*/

        .drop input[type=checkbox]:checked~#menu1 {
            display: block;
        }

        /*Responsive Styles*/

        @media screen and (max-width: 760px) {
            /*Make dropdown links appear inline*/
            .drop ul {
                position: static;
                display: none;
                margin-top: -5px;
            }
            /*Create vertical spacing*/
            .drop li {
                margin-bottom: 1px;
            }
            /*Make all menu links full width*/
            .drop ul li,
            li a {
                width: 100%;
                padding-left: 0px;
                padding-right: 0px;
            }
            /*Display 'show menu' link*/
            .drop .show-menu {
                display: block;
            }
            .in2{
                text-align: center;
            }
        }

        .main-img {
            width: 100%;
            text-align: center;
        }

        .main-img img {
            margin: auto;
        }

        .title {
            text-align: center;
            margin-top: 20px;
        }

        .title h2 {
            padding: 15px;
            background: #2b2726;
            color: white;
        }

.page-menu-link a span{
    color: #DBDBDB;
    font-size: 14px!important;
}
      .social3 p {
    color: #DBDBDB;
    font-size: 14px!important;
}

.pst-copyright p{
          font-size: 14px!important;  
      }
      .social3 h4 {
    letter-spacing: 0px!important;
}
      #grey{
      text-align: center;
      }
/*-------------------------tab view---------------------------------------*/
@media(max-width: 1024px) {

    #topnav > li {
        display: inline-block;
        vertical-align: top;
        font-size: 11px;
        line-height: 35px;
        text-transform: uppercase;
        position: relative;
    }

}
@media(max-width: 920px) {

    .mgq1 img {
  display: none;
}
.logo-container {
    float: none;
    margin-top: 39px;
    display: block;
    width: 100%;
    text-align: center;
}
.logo img {
    width: 400px;
}
.account-links {
    float: none;
    margin-top: 21px;
    width: 100%;
    text-align: center;
}
.info-col {
    position: absolute;
    z-index: 999;
    right: 8px;
    margin-top: 10px;
}
    }
    @media(max-width: 767px) {
        .logo img {
            display: none;
        }
        .logo-container {
            margin-top: 0px;
        }

        .mgq1 img {
            display: block;
            margin: auto;
            width: 250px;
            
          }
          ul.social-links {
            float: left;
            padding-right: 10px;
            padding-top: 3px;
        }
        ul.social-links a {
            color: #ff7713;
            font-size: 21px;
            opacity: 0.7;
            margin-top: 12px;
        }
    }
    @media(max-width: 320px){
        ul.social-links {
            display: none;
        }
    }

 .pst-footer {
        background-color: #2b2726;
    }

    .our-rating {
        border-top: 1px solid rgba(163, 162, 162, 0.5);
        padding-top: 10px;
        margin-top: 35px;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .our-rating h4 {
        font-weight: bold;
        color: #fff;
        font-family: "Roboto Condensed", sans-serif;
    }

    .our-rating img {
        vertical-align: middle;
        padding: 20px;
    }

    .social1 {
        border-top: 1px solid rgba(163, 162, 162, 0.5);
        padding-top: 10px;
        margin-top: 35px;
        margin-bottom: 10px;
        width: 100%;

    }

    .social1 h4 {
        color: #fff;
        font-family: "Roboto Condensed", sans-serif;
        letter-spacing: 1px;
    }

    .social1 ul li {
    list-style: none;
    float: left;
margin-left: 23px;
    margin-right: -27px;
    }

    .social1 ul.social-links {
        float: none;

        -webkit-padding-start: 0 !important;
    }

    .social1 ul.social-links span {
        display: none;
    }

    .social1 .social-links a {
        color: #ffffff;
        margin-right: 14px;
        font-size: 20px;
    }

    .social2 {
        border-top: 1px solid rgba(163, 162, 162, 0.5);
        padding-top: 10px;
        margin-top: 23px;
        margin-bottom: 10px;
        width: 100%;
    }

    .social2 h4 {
        color: #fff;
        font-family: "Roboto Condensed", sans-serif;
        letter-spacing: 1px;
    }

    .social2 ul {
        -webkit-padding-start: 0 !important;
    }

    .social2 .page-menu-link {
        list-style: none;
    }

    .social2 .page-menu-link a {
        color: #DBDBDB;
    }

    .social3 {
        border-top: 1px solid rgba(163, 162, 162, 0.5);
        padding-top: 10px;
        margin-top: 35px;
        margin-bottom: 10px;
        width: 100%;
    }

    .social3 h4 {
       color: #fff;
        font-family: "Roboto Condensed", sans-serif;
        letter-spacing: 1px;
    }

    .social3 ul {
        -webkit-padding-start: 0 !important;
    }

    .social3 .page-menu-link {
        list-style: none;
    }

    .social3 .page-menu-link a {
        color: #DBDBDB;
    }
    .social3 p {
      
        color: #DBDBDB;
    }
    .sign-up {
    display: inline-block;
    text-align: center;
    position: relative;
}
    .sign-up a {
    display: block;
    width: 137px;
    line-height: 35px;
    font-size: 16px;
    background: #424242;;
    color: #ffffff !important;
    font-weight: normal;
    text-transform: none;
    transition: .3s all ease-in-out;
}
.sign-up a:hover {
    background: #2F2F2F;
    color: #ffff !important;
    transition: .3s all ease-in-out;
}
.sign-up a:before {
    font-family: FontAwesome;
    content: '\f003';
    font-size: 20px;
    color: #fff !important;
    margin-right: 6px;
    transition: .3s all ease-in-out;
}
.last-row{
    color: white;
    text-align: center;
 margin-top: 25px;
    border-top: 1px solid rgba(163, 162, 162, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}
